# Insira aqui as credenciais do seu projeto Supabase se quiser usar banco de dados em nuvem
NEXT_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anonima-aqui
